*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
form,
label,
main,
footer,
header,
nav,
section {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

button {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  height: 100%;
}

button:focus {
  outline-offset: 2px;
}

button:focus:not(:focus-visible) {
  outline: none;
}
