@font-face {
  font-family: 'Eina-SemiBold';
  src: url('/assets/fonts/Eina-01-Semi-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

.paragraph-tiny {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 0.75rem;
  line-height: normal;
  letter-spacing: 0;
}

.paragraph-semi-bold {
  font-family: 'Eina-SemiBold';
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: 0;
}

.paragraph-small {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: 0;
}

.tab-text {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.2;
  letter-spacing: 0;
}

p {
  display: flex;
  align-items: center;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h4 {
  font-family: 'Eina-SemiBold';
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.2;
  letter-spacing: 0;
}
