.paragraph-tiny {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
}

.tab-text {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0;
}

p {
  display: flex;
  align-items: center;
  margin: 0;
}
