@use 'typography';
@use 'animations';
@use 'reset';

:root {
  --light-blue: #f1f7fc;
  --cerulean: #11abec;

  --light-red: #ffece6;
  --bittersweet: #fd755f;

  --light-yellow: #fff5bf;
  --yellow: #faa11c;

  --light-purple: #f3e5ff;
  --purple: #b366ff;

  --light-pink: #ffe5f0;
  --pink: #ff66b3;

  --light-green: #e5ffea;
  --green: #66cc66;

  --separator: #dce4ed;
  --brand-diante: #001a25;
  --grey-barth: #636970;

  --background-page: #f3f5f8;
}

body {
  min-height: 100vh;
  overflow-y: scroll;
}
