@use 'typography';

:root {
  --light-blue: #f1f7fc;
  --cerulean: #11abec;

  --light-red: #ffece6;
  --bittersweet: #fd755f;

  --light-yellow: #fff5bf;
  --yellow: #faa11c;

  --separator: #dce4ed;
  --brand-diante: #001a25;
  --grey-barth: #636970;

  --background-page: #f3f5f8;
}

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
